<ion-header>
  <ion-toolbar color="dark">
    <ion-title>ABOUT US</ion-title>
    <ion-buttons slot="start">
      <ion-back-button
          [text]="buttonText"
          [icon]="buttonIcon">
      </ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content color="dark">
  <h1>ABOUT NAIVE BUNDLE STORE</h1>
  <img src="/assets/logo.png" width="100%">
  <p>Naïve Bundle Ecommerce System is a mobile app with a database that will be 
    developed by me for the use of the sale of various types of quality used clothing. 
    The name of this system is taken in conjunction with the name of the company Naive Sdn. Bhd.
     Based in Pasir Gudang, Johor. With this system, those who like to go to the centre selling used clothing 
     do not need to go out again. Given the covid-19 pandemic that is happening all over the world, this system makes
      it easier for consumers to buy used clothes by just staying in their home and their health is also guaranteed because 
      there is no need to go out just to buy used clothes again. This system may be important because this
       system will provide income opportunities for those affected due to the pandemic that is plaguing the country. </p>
</ion-content>
