<ion-header>
  <ion-toolbar color="dark">
  <ion-buttons slot="start">
  <ion-back-button></ion-back-button>
  </ion-buttons>
  <ion-title class="ion-text-center">Contact</ion-title>
  </ion-toolbar>
 </ion-header>
 <ion-content color="dark">
  <div class="ion-padding">
  <ion-text color="danger">
  <p>Please fill up enquiry and we will be in touch with you soon</p>
  </ion-text>
  <ion-item color="dark">
  <ion-label position="floating" >Name</ion-label>
  <ion-input type="text" [(ngModel)]="post.name" required></ion-input>
  </ion-item>
  <ion-item color="dark">
  <ion-label position="floating">Email</ion-label>
  <ion-input type="email" placeholder="your@gmail.com" [(ngModel)]="post.email" required></ion-input>
  </ion-item>
  <ion-item color="dark">
    <ion-label position="floating">Message</ion-label>
    <ion-input type="text" placeholder="Give us a message"  [(ngModel)]="post.message" required></ion-input>
 </ion-item>
 <ion-button (click)="createPost(post)" expand="block" color="warning">
 <ion-icon slot="start" name="send"></ion-icon>
 Send
 </ion-button>
 </div>
</ion-content>
