<ion-header>
  <ion-toolbar color="dark">
    <ion-title>HOODIE</ion-title>
    <ion-buttons slot="start">
      <ion-back-button
          [text]="buttonText"
          [icon]="buttonIcon">
      </ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content color="dark">
  <h1>All Hoodies</h1>
  <ion-col size="10">
    <img src="/assets/hoodie/pic50.jpeg" >
    <p>Nike Blue 2018 Hoodie</p>
    <p>RM85.00</p><br><br>
    <ion-button [routerLink]="['/payment']" expand="full" color="warning">
      Buy this
    </ion-button>
    </ion-col>
    <ion-col size="10">
      <img src="/assets/hoodie/pic41.jpeg" >
      <p>Gap Thunder</p>
      <p>RM35.00</p><br><br>
      <ion-button [routerLink]="['/payment']" expand="full" color="warning">
        Buy this
      </ion-button>
      </ion-col>
      <ion-col size="10">
        <img src="/assets/hoodie/pic2.jpeg" >
        <p>Fila Hoodies</p>
        <p>RM35.00</p><br><br><br>
        <ion-button [routerLink]="['/payment']" expand="full" color="warning">
          Buy this
        </ion-button>
        </ion-col>
</ion-content>
